.work-line {
  
}

.recent-work {
 background-color: #0f1728;;
}

body {
  transition: all 2s ease-in;
}

.picture-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-auto-rows: minmax(250px,auto);
  gap: 20px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 10px;
}

.picture-grid .grid {
  background-color: blueviolet;
}

.grid1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid4 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 4 / 3;
}

@media (max-width: 900px) {
  .picture-grid {
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-auto-rows: minmax(300px,auto);
  }

  .grid3 {
    grid-column-start: 1;
    grid-column-end: 3;

  }

  .grid4 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid7 {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .grid8 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media (max-width: 501px) {
  .picture-grid {
    display: grid;
    grid-template-columns: 100px 100px ;
    grid-auto-rows: minmax(200px,auto);
    padding-left: 10px;
  }

  
  
 
}

.grid .images {
  width: 100%;
  height: 100%;
  
}
